/*header*/
.header_box{height: 80px; line-height: 80px; border-bottom: 1px  solid #e8ebf2;}
.header{max-width: 1200px; margin:0 auto; position: relative; height: 100%;}
.header h1{display: inline-block; padding-left: 35px;}
.header .nav{font-size: 14px; text-align: right; display: inline-block; vertical-align: top; float: right;}
.header .nav a{color: #010101!important; display: inline-block; padding:0 35px;}
.header .nav a.active{color: #ab8e75!important;}
.app-header{display: none;}
.app-header-menuicon{display: block; position: absolute; top: 0; width: 80px; height: 80px; cursor: pointer; text-align: center;}
.app-header-menuicon i{font-size: 30px;}
.header-down-nav{display: none;}
/*end-header*/

@media only screen and (max-width: 780px) {
    /**/
  .header .nav{
    display: none;
  }
  .header h1.logo{
    float: right;
    padding:0 35px 0 0;
  }
  .app-header{
    display: block;
  }
  .layui-nav.down-nav{
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    top: 80px;
    padding:0;
    display: block;
  }
  .layui-nav.down-nav li{
    height: 60px;
    line-height: 60px;
    display: block;
  }
  .layui-nav.down-nav li a{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
  }
}